# General
*.log

# Files
storage/git-storage
storage/mariadb-storage
storage/redmine-files

# For Redmine
redmine/src*
!redmine/src/config/configuration.yml
!redmine/src/config/database.yml
!redmine/src/config/unicorn.yml
*.rbc


