# For Redmine assests

redmine/redmine/.project
redmine/redmine/.loadpath
redmine/redmine/.powrc
redmine/redmine/.rvmrc
redmine/redmine/config/additional_environment.rb
redmine/redmine/config/secrets.yml
redmine/redmine/config/initializers/session_store.rb
redmine/redmine/config/initializers/secret_token.rb
redmine/redmine/coverage
redmine/redmine/db/*.db
redmine/redmine/db/*.sqlite3
redmine/redmine/db/schema.rb
redmine/redmine/files/*
redmine/redmine/lib/redmine/scm/adapters/mercurial/redminehelper.pyc
redmine/redmine/lib/redmine/scm/adapters/mercurial/redminehelper.pyo
redmine/redmine/log/*.log*
redmine/redmine/log/mongrel_debug
redmine/redmine/plugins/*
!/plugins/README
redmine/redmine/public/dispatch.*
redmine/redmine/public/plugin_assets/*
redmine/redmine/public/themes/*
redmine/redmine/tmp/*
redmine/redmine/tmp/cache/*
redmine/redmine/tmp/pdf/*
redmine/redmine/tmp/sessions/*
redmine/redmine/tmp/sockets/*
redmine/redmine/tmp/test/*
redmine/redmine/tmp/thumbnails/*
redmine/redmine/test/*
redmine/redmine/vendor/cache
*.rbc

redmine/redmine/.bundle
redmine/redmine/Gemfile.lock
redmine/redmine/Gemfile.local

